* {
    margin: 0;
    padding: 0
}

*:focus { outline: none; }

body {
    background-color: black;
}

#appBody {
    text-align: center;
    margin: 3.75vh 12.5vw 0px 12.5vw;
}

#appLabel {
    font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 4vw;
    margin-bottom: 3.75vh
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #appLabel {
        font-size: 10vw
    }
}

#appContentBox {
    float: left;
    padding: 0 2.5vw 0 0;
    width: 45vw;
    height: 45vh
}

#appContentArea {
    resize: none;
    background-color: black;
    font-family: 'Segoe UI Emoji', 'Noto Emoji', system-ui;
    border-color: white;
    border-width: 2px;
    font-size: 1vw;
    border-radius: 8px;
    padding: 1vh 1vw 1vh 1vw;
    width: 100%;
    height: 100%
    
}

#appContentArea::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#appContentArea::placeholder {
    font-style: italic;
    font-size: 1vw;
}

#clearButton {
    display: block;
    font-size: 1.5em;
    background-color: transparent;
    border-width: 0;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #appContentArea {
        font-size: 1.25em;
    }

    #appContentArea::placeholder {
        font-size: 1em;
    }

    #clearButton {
        font-size: 5em;
    }
}

#appCustomizationBox {
    float: right;
    padding: 0 0 0 2.5vw;
    height: 45vh;
}

#appEmojiCustomizationField {
    resize: none;
    text-align: center;
    font-family: 'Segoe UI Emoji', 'Noto Emoji', system-ui;
    overflow: hidden;
    color: white;
    border-color: white;
    background-color: black;
    border-width: 2px;
    font-size: 2vw;
    border-radius: 8px;
    padding: 10px;
    width: 22.5vw;
    height: 20vh;
}

#appEmojiCustomizationField::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 1vw;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -moz-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
}

#appEmojiCustomizationField:focus::placeholder { 
  transform: translateX(50vw); 
  -webkit-transform: translateX(50vw); 
  -moz-transform: translateX(50vw); 
  -o-transform: translateX(50vw); 
}

#appLineCountCustomizationField {
    resize: none;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    color: white;
    border-color: white;
    background-color: black;
    font-size: 1vw;
    border-width: 2px;
    border-radius: 8px;
    padding: 10px;
    width: 22.5vw;
    margin-top: 2.5vh;
}

#appLineCountCustomizationField::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -moz-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
}

#appLineCountCustomizationField:focus::placeholder {
    transform: translateX(50vw); 
    -webkit-transform: translateX(50vw); 
    -moz-transform: translateX(50vw); 
    -o-transform: translateX(50vw); 
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #appEmojiCustomizationField, #appLineCountCustomizationField {
        font-size: 2em
    }

    #appLineCountCustomizationField {
        height: 2.5vh
    }

    #appLineCountCustomizationField::placeholder {
        padding: auto;
        font-size: 0.6em
    }

    #appEmojiCustomizationField::placeholder {
        font-size: 0.75em
    }
}

#appButtonBox {
    margin-top: 5vh
}

#generateButton, #copyButton {
    display: block;
    border-width: 0;
    border-radius: 16px;
    margin-bottom: 1vh;
    font-size: 1.25vw;
    width: 100%;
    height: 5vh;
    transition-duration: 500ms;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #generateButton, #copyButton {
        font-size: 1.5em;
        white-space: normal;
        word-wrap: break-word;
    }
}

#generateButton:hover {
    background-color: #fcae1e;
    color: white;
    transition-duration: 250ms;
}

#generateButton:active {
    background-color: #fd6a02;
    color: white;
    transition-duration: 250ms;
}

#copyButton:hover {
    background-color: #ed2939 ;
    color: white;
    transition-duration: 250ms;
}

#copyButton:active {
    background-color: #990000;
    color: white;
    transition-duration: 250ms;
}
