*
{
    margin: 0;
    padding: 0;
}
:focus {  outline: none; }

h1
{
    padding: 1.5%;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    font-size: 450%;
    font-weight: bold;
    color: white;
}

/* RAINBOW EFX
h1
{
    padding: 1.5%;
    text-align: center;
	background: linear-gradient(-45deg, red, orange, yellow, lime, blue, magenta, purple);
	background-size: 300%;
	font-family: sans-serif;
	font-weight: 750;
	font-size: 450%;
	letter-spacing: -5px;
	text-transform: uppercase;
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 2s ease-in-out infinite;
	-moz-animation: animated_text 2s ease-in-out infinite;
	-webkit-animation: animated_text 2s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
*/

body {  background-color: black; }

.emoBox::selection 
{ background-color: transparent; }

.emoBox
{
    margin-bottom: 10px;
    padding: 1%;
    width: 50%;
    font-size: 125%;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    background-color: white;
}

.customEmoBox
{
    padding: 1%;
    width: 50%;
    font-size: 100%;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    font-style: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    background-color: white;
}

.customEmoBox::placeholder { font-style: italic }

button
{
    border-width: 0%;
    border-radius: 8px;
    width: 25.75%;
    height: 5.5vh;
    font-size: 115%;
    margin-top: 0.5%;
    margin-left: 0.15%;
    margin-right: 0.15%;
    transition-duration: 500ms;
    outline: none;
    border: none;
    font-family: sans-serif;
    color:darkslategray;
}

#buttonbox { text-align: center }

button:active
{
    color: white;
    transition-duration: 200ms;
}

button:focus { outline: none }

.genButt:hover { background-color: lime; }
.genButt:active { background-color: green; }

.copButt:hover { background-color: aqua; }
.copButt:active { background-color: #054d95; }